<a href="https://colab.research.google.com/github/Tarunagg1/Letsupgrade_DataScience/blob/main/datascienceday4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# question 1
import pandas as pd
print(pd.__version__)

1.1.4

In [ ]:
# question 2
import numpy as np
arr = np.array([10,20,30,40,50,60,70,80])
da = pd.Series(arr)
da

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [ ]:
# question 3

df = pd.DataFrame({'Roll Number': ['17', '02', '28', '55'], 
                   'Name': ['tarun', 'aravind', 'harsh', 'pradeep'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['python', 'maths', 'c++', 'java']})

df.reset_index(level=0, inplace=True) 
df

   index Roll Number     Name  Marks In Percentage Grade Subject
0      0          17    tarun                   97     A  python
1      1          02  aravind                   90     A   maths
2      2          28    harsh                   70     C     c++
3      3          55  pradeep                   82     B    java

In [ ]:
# question 4
import seaborn as sbs
dataset = sbs.load_dataset('mpg')
dataset

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [ ]:
# question 5

In [ ]:
# question 6